body{
    font-family: 'Jost', sans-serif;
}

.mainbackground{
    background-color: #E9EDF4;
    margin-top: 75px;


}
.nav-link{
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin-right: 50px;
    
}
.phone{
    width: 50px;
    height: 50px;
    background: linear-gradient(135deg, #7153d9 0%, #5435be 45%, #4526b1 66%);
    border-radius: 28px;
    text-align: center;
    line-height: 49px;
    content: '';
    color: white;
}
.un-l{
    line-height: 50px;
    

}

.mybackground{
    background-color:#E9EDF4 ;
}
.mybackground.navbar-scroll{
    background-color: white !important;
}
  
.nav-item:hover .nav-link{
    color: #7153d9;
}
.main-subtile{
    font-size: 24px;
    font-weight: 500;
    color: #7153d9;
}
.main-title{
    font-size: 72px;
    font-weight: 500;
}
.main-p{
    font-size: 24px;
    font-weight: 400;
    color: #54545f;
}
.main-btn {
    background: linear-gradient(135deg, #4526b1 0%, #5435be 45%, #7153d9 66%);
    padding: 15px 45px;
    text-decoration: none;
    color: white;
    border-radius: 45px;  
}
.featur-icon{
    background-color: #f2f5fb;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 91px;
}
.sevice-title{

    letter-spacing: 9px;
    font-size: 18px;
    font-weight: 500;
    color: #7153d9;
}

.service-subtitle{
    font-size: 60px;
    font-weight: 500;
}
.mycard{
    box-shadow: 0px 12px 42px rgba(69,38,177,0.1) ,11px 6px 25px rgba(69,38,177,0.1);
    border-radius: 20px;
}
.readmore{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    font-family: "Jost", sans-serif;
    color: #1c1c1c;
    margin-top: 30px;
    display: block;
    transition: .3s;
}
.readmore:hover{
    margin-left: 20px;
    color: #4526b1;
}



/* media query */
/* for mobile */


@media (max-width: 578px) {
    .img{
        margin-top: 40px;
    }
    .main-title{

        font-size: 36px;
    }
    .main-p{
        font-size: 16px;
         margin-top: 10px;
    }
    .feature-card{
        margin-top: 20px;

    }
    .img-2{
        margin-top: 24px;

    }
    .service-subtitle{
        font-size: 30px;
    }
    .sevice-title{
        font-size: 16px;
        letter-spacing: 4px;
    }
  }

@media (min-width:577px)and (max-width:991px) {
    .main-subtile{
        font-size: 20px;
        letter-spacing: 5px;
            }
    .main-title{
        font-size: 50px;
    
    }
    .img{
        margin-top: 40px;
    }
    .sevice-title{
        font-size: 18px;
        font-family: "Jost", sans-serif;
        font-weight: 500;
        line-height: 1.9;
        color: #7153d9;
        text-transform: uppercase;
        letter-spacing: 8px;
    }
    .service-subtitle{
        font-size: 50px;
    }
    }
    
